.logo {
    width: 180px;
}

.navbar-nav {
    flex-direction: row;
}

.line-hight {
    line-height: 0.1em;
}

.bg-grey {
    background-color: #f5f5f5;
}

.grey-text-color {
    color: #7E7E7E;
}

.border-color {
    border: 2px solid #EEEEE0;
}

.form-container {
    max-width: 700px;
    width: 100%;
}

.error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: red;
}

.pro-img {
    width: 75%;
}

.footer-bg {
    background-color: #f8f8f8;
}

@media(max-width :992px) {
    nav {
        display: none;
    }

    .pro-img {
        width: 100% !important;
    }
}

